<?xml version="1.0" encoding="UTF-8" ?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <bean id="ParentTriangle" class="org.example.Triangle" abstract="true">
        <property name="points">
            <list>
                <ref bean="pointA"/>
            </list>
        </property>
    </bean>
    <bean id="Triangle1" class="org.example.Triangle" parent="ParentTriangle">
        <property name="points">
            <list merge="true">
                <ref bean="pointB"/>
                <ref bean="pointC"/>
            </list>
        </property>
    </bean>
    <bean class="org.example.Point" id="pointA">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    <bean class="org.example.Point" id="pointB">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>
    <bean class="org.example.Point" id="pointC">
        <property name="x" value="0"/>
        <property name="y" value="-20"/>
    </bean>
</beans>